<div class="pub-list-item" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}

  {{/* Get publication type for conditional italics */}}
  {{ $pubtype := 0 }}
  {{ if .Params.publication_types }}
    {{ $pubtype = index .Params.publication_types 0 | int }}
  {{ end }}
  {{/* Italicize title for preprint (3), thesis (7), and software (9) */}}
  {{ $italicize_title := or (eq $pubtype 3) (eq $pubtype 7) (eq $pubtype 9) }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>
  ({{- .Date.Format "2006" -}}).
  {{ if $italicize_title }}
  <a href="{{ .RelPermalink }}"><em>{{ .Title | markdownify | emojify }}</em></a>.
  {{ else }}
  <a href="{{ .RelPermalink }}">{{ .Title | markdownify | emojify }}</a>.
  {{ end }}
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}}.
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}}.
  {{ end }}
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{/* MLA Style */}}
  {{ else }}

  {{/* Get publication type for conditional italics */}}
  {{ $pubtype := 0 }}
  {{ if .Params.publication_types }}
    {{ $pubtype = index .Params.publication_types 0 | int }}
  {{ end }}
  {{/* Italicize title for preprint (3), thesis (7), and software (9) */}}
  {{ $italicize_title := or (eq $pubtype 3) (eq $pubtype 7) (eq $pubtype 9) }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>.
  {{ if $italicize_title }}
  <a href="{{ .RelPermalink }}"><em>{{ .Title | markdownify | emojify }}</em></a>.
  {{ else }}
  <a href="{{ .RelPermalink }}">{{ .Title | markdownify | emojify }}</a>.
  {{ end }}
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}},
  {{ end }}
  {{- .Date.Format "2006" -}}.
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{ end }}
</div>
