
.Rproj.user
.Rhistory
.RData
.Ruserdata
content/post/a-new-function-to-plot-convergence-diagnostics-from-lme4-allfit/m1_allFit_convergence.rds
public/2021/a-new-function-to-plot-convergence-diagnostics-from-lme4-allfit/m1_allFit_convergence.rds

