{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" (anchorize $author)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}

<!-- About widget -->
<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">

      {{ if site.Params.avatar.gravatar }}
      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="Avatar">
      {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "270x270 Center" }}
      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $avatar_image.RelPermalink }}" alt="Avatar">
      {{ end }}

      <div class="portrait-title">
        <h2>{{ $person.name }}</h2>
        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}
        {{ with $person.email }}<h3 class="profile-email" style="margin-top:5%;">{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>
      
      <div style="margin-top:8%;">
      {{ with $person.profileicons }}
      <div>
          {{ range . }}
          <span>{{ . | markdownify | emojify }} &nbsp;</span>
          {{ end }}
      </div>
      {{ end }}
      </div>
      
      <div class="row" style='padding-top:10px;'>
      {{ with $person.interests }}
      <div>
        <h3 style='color:darkgrey;'>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests" style='text-align:left;'>
          {{ range . }}
          <li>{{ . | markdownify | emojify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      </div>
      
      <div class="row">
      {{ with $person.subsections }}
      <div>
        <h3 style='color:darkgrey; text-align:right;'>{{ i18n "subsections" | markdownify }}</h3>
        <ul class="ul-interests" style='color:darkgrey; text-align:right;'>
          {{ range . }}
          <div>{{ . | markdownify | emojify }}</div>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      </div>

    </div>
  </div>
  <div class="col-12 col-lg-8">

    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title | markdownify | emojify }}<h1>{{ $page.Title | markdownify | emojify }}</h1>{{ end }}

    {{ $person_page.Content }}

    <div class="row">

      {{ with $person.recent_work }}
      <div>
        <h3 style="padding-left:13px;">{{ i18n "recent_work" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .jobs }}
          <li>
            <i class="fa-li fas fa-regular fa-briefcase fa-sm" style="padding-left:17px;"></i>
            <div class="description" style="padding-left:14px;">
              <p class="course" style="color:#515151">{{ .job | markdownify }}{{ with .year | markdownify }}, {{ . }}{{ end }}</p>
              <p class="institution" style="color:#5B5B5B">{{ .institution | markdownify }}</p>
              <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ .extra | markdownify }}</p>
              {{ with .extra2 }}
                <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra3 }}
                <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra4 }}
                <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra_nohyphen }}
              <p class="institution" style="max-width: 550px; padding-left:18px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ .extra_nohyphen | markdownify }}</p>
              {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $person.education }}
      <div>
        
        <h3 style="padding-left:13px;">{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
            <i class="fa-li fas fa-graduation-cap fa-sm" style="padding-left:17px;"></i>
            <div class="description" style="padding-left:14px;">
              <p class="course" style="color:#515151">{{ .course | markdownify }}{{ with .year | markdownify }}, {{ . }}{{ end }}</p>
              <p class="institution" style="color:#5B5B5B">{{ .institution | markdownify }}</p>
              <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ .extra | markdownify }}</p>
              {{ with .extra2 }}
                <p class="institution" style="max-width:550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra3 }}
                <p class="institution" style="max-width:550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra4 }}
                <p class="institution" style="max-width:550px; padding-left:8px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra_nohyphen }}
                <p class="institution" style="max-width:550px; padding-left:18px; text-indent:-0.8em; margin-top:0.3em; margin-left:1em;">{{ .extra_nohyphen | markdownify }}</p>
              {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>

        <h3 style="padding-left:13px;">{{ i18n "furthercourses" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .furthercourses }}
          <li>
            <i class="fa-li fas fa-book-open fa-sm" style="padding-left:17px;"></i>
            <div class="description" style="padding-left:14px;">
              <p class="course" style="color:#515151">{{ .course | markdownify }}{{ with .year | markdownify }}, {{ . }}{{ end }}</p>
              <p class="institution" style="color:#5B5B5B">{{ .institution | markdownify }}</p>
              <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.22em; margin-left:1em;">{{ .extra | markdownify }}</p>
              {{ with .extra2 }}
                <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.22em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra3 }}
                <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.22em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra4 }}
                <p class="institution" style="max-width: 550px; padding-left:8px; text-indent:-0.8em; margin-top:0.22em; margin-left:1em;">{{ . | markdownify }}</p>
              {{ end }}
              {{ with .extra_nohyphen }}
              <p class="institution" style="max-width: 550px; padding-left:18px; text-indent:-0.8em; margin-top:0.22em; margin-left:1em;">{{ .extra_nohyphen | markdownify }}</p>
              {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>

      </div>
      {{ end }}

    </div>
  </div>
</div>
