

// Override this file to add your own SCSS styling.

// Navigation bar link
.nav-link.active span {
  color: #39A290;
}

// unvisited link
h3 a:link, p a:link, ul a:link, li a:link, .article-container a:link, td a:link, a.dsq-brlink {
  color: olive; 
}

// unvisited link
h3 a:link {
  color: #4F6C89; 
}

// visited link
h3 a:visited, div a:visited, p a:visited, ul a:visited, li a:visited, .article-container a:visited, td a:visited, a.dsq-brlink:visited {
  color: #9E84B0; 
}

// unvisited category and tag cloud links
.article-categories a:link, .tag-cloud a:link {
  color: darkgrey; 
}

// visited category and tag cloud links
.article-categories a:visited, .tag-cloud a:visited {
  color: darkgrey;
}

// unvisited tag and category links
.article-tags a:link {
  color: black; 
}

// visited tag and category links
.article-tags a:visited {
  color: black;
}

// mouse over link
p a:hover, ul a:hover, li a:hover, .article-container a:hover, td a:hover, a.dsq-brlink:hover {
  color: #759A55;
  background-color: #F8FFE6;
  text-decoration: none;
}

.btn-links a, .btn-links a.btn.btn-outline-primary.my-1.mr-1.js-cite-modal, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a {
  color: darkgrey; 
  border-color: lightgrey;
}

#top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:hover, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:hover, .btn-links a:hover, #top > div.pub > div:nth-child(2) > a > button:hover, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button:hover, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button:hover {
  color: black; 
  font-weight: bold;
  background-color: #D4EEEA;
  border-color: white;
}

