

// Override this file to add your own SCSS styling.

#navbar-main > div > div.d-none.d-lg-inline-flex > a {
  color: darkgrey;
}

div.col-12.col-lg-4.section-heading > h1 {
  color: darkgrey;
}

// Navigation bar link
.nav-link.active span {
  color: #39A290;
}

// Navigation bar link
#navbar-main a:link {
  color: #79A990;
  background-color: transparent;
}

#navbar-content > ul > li > a:hover > span {
  color: #31A290;
  font-weight: bold;
}

#navbar-main > div > ul a:link {
  color: darkgrey;
}

#top > div.pub > div.article-container.pt-3 > div.article-metadata > span.article-categories > a, #profile > div:nth-child(5) > div > ul > div > a:link, #top > article > div.article-container.pt-3 > div.article-metadata > span.article-categories > a:link, code {
  background-color: transparent;
}

// Profile subsections

#profile > div:nth-child(5) > div > ul > div> div > a:link, #profile > div:nth-child(5) > div > ul > div> div > a:visited {
  color: darkgrey;
  background-color: transparent;
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: linear-gradient(#DDFFFA 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

#profile > div:nth-child(5) > div > ul > div> div > a:hover {
  color: black;
}

.profile-subsection:hover {
  --p: 100%;
}

// Interests
#profile > div:nth-child(4) > div {
  color: darkgrey;
}

// unvisited link
p a:link, ul a:link, li a:link, .article-container a:link, td a:link, a.dsq-brlink {
  color: #00032F; 
  background-color: #FDFFEC;
}

// unvisited link
h3 a:link {
  color: #4F6C89; 
}

// visited link
a:visited {
  color: black; 
  background-color: #F7F1FF;
}

// visited heading link
h3 a:visited, div a:visited, p a:visited, ul a:visited, li a:visited, .article-container a:visited, td a:visited, a.dsq-brlink:visited {
  color: purple; 
  background-color: transparent;
}

// mouse over link
p a:hover, ul a:hover, li a:hover, .article-container a:hover, td a:hover, a.dsq-brlink:hover {
  color: black;
  background-color: #D4EEEA;
  text-decoration: none;
}

// active link

h3 a:active, div a:active, p a:active, ul a:active, li a:active, .article-container a:active, td a:active, a.dsq-brlink:active {
  color: #24494F; 
}

h3 a:hover, div a:hover {
  color: #24494F; 
}

// unvisited category and tag cloud links
.article-categories a:link, .tag-cloud a:link {
  color: darkgrey; 
}

// visited category and tag cloud links
.article-categories a:visited, .tag-cloud a:visited {
  color: #9E84B0;
}

// hovered category and tag cloud links
.article-categories a:hover, .tag-cloud a:hover {
  color: #24494F;
}

#top > article > div.article-container.pt-3 > div.btn-links.mb-3 > a:link, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:link, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:link, .btn-links a:link, #top > div.pub > div:nth-child(2) > a > button:link, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button:link, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button:link {
  color: black; 
  background-color: #F8F8F8;
  border-color: lightgrey;
}

#top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button, #publication > div > div > div.col-12.col-lg-8 > div > div.media-body > div.btn-links > button {
  color: black; 
  background-color: #F8F8F8;
  border-color: lightgrey;
}

#top > article > div.article-container.pt-3 > div.btn-links.mb-3 > a:visited, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:visited, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:visited, .btn-links a:visited, #top > div.pub > div:nth-child(2) > a > button:visited, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button:visited, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button:visited {
  color: black; 
  font-weight: bold;
  background-color: #F7F7F7;
  border-color: black;
}

#top > article > div.article-container.pt-3 > div.btn-links.mb-3 > a:hover, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:hover, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:hover, .btn-links a:hover, #top > div.pub > div:nth-child(2) > a > button:hover, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button:hover, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button:hover {
  color: black; 
  font-weight: bold;
  background-color: #D4EEEA;
  border-color: lightgrey;
}

// unvisited tag and category links
#top > div.pub > div > div.article-tags > a:link, #top > article > div > div.article-tags > a:link, .article-tags a:link {
  color: black;
  background-color: #F3F3F3;
}

// visited tag and category links
#top > div.pub > div > div.article-tags > a:visited, #top > article > div > div.article-tags > a:visited, .article-tags a:visited {
  color: black;
  background-color: #F7F1FF;
}

// hovered tag and category links
#top > div.pub > div > div.article-tags > a:hover, #top > article > div > div.article-tags > a:hover, .article-tags a:hover {
  color: black;
  background-color: #D4EEEA;
}

// Indentation in References sections
#references {
  text-indent:-2em; 
  margin-left:2em;
}

// Icons on the right-hand side of the the bio section
#bio > div > div > div.col-12.col-lg-8 > div > div > ul > li > i {
  color: lightgrey;
}

// Folder icon for categories
span.article-categories > i {
  color: lightgrey;
}

// Icons
i {
  background-color: transparent;
}

// Full text button
#top > div.pub > div > a > button:hover {
  background-color: #F1FAFF !important;
}

// Open dashboard/application button
#top > article > div > div.article-style > a > button:hover {
  background-color: #F1FAFF !important;
}

