

// Override this file to add your own SCSS styling.

// Navigation bar

#navbar-main > div > div.d-none.d-lg-inline-flex > a, #navbar-content > ul > li > a, #navbar-main > div > div.navbar-brand-mobile-wrapper.d-inline-flex.d-lg-none > a {
  color: darkgrey;
}

div > div > div.col-12.col-lg-4.section-heading > h1::first-letter {
  color: #8FABA6;
}

#navbar-main > div > div.d-none.d-lg-inline-flex > a:hover, #navbar-content > ul > li > a:hover, #navbar-main > div > div.navbar-brand-mobile-wrapper.d-inline-flex.d-lg-none > a:hover, #navbar-main > div > div.d-none.d-lg-inline-flex > a:hover::first-letter, #navbar-main > div > div.navbar-brand-mobile-wrapper.d-inline-flex.d-lg-none > a:hover::first-letter {
  color: #31A290;
}

div.col-12.col-lg-4.section-heading > h1, #navbar-content > ul > li > a {
  color: darkgrey;
}

.nav-link.active span {
  color: #39A290;
}

#navbar-main a:link {
  color: #79A990;
  background-color: transparent;
}

#navbar-content > ul > li > a:hover > span {
  color: #31A290;
  font-weight: bold;
}

#navbar-main > div > ul a:link {
  color: darkgrey;
}

#top > div.pub > div.article-container.pt-3 > div.article-metadata > span.article-categories > a, #profile > div > div > ul > div > a:link, #top > article > div.article-container.pt-3 > div.article-metadata > span.article-categories > a:link, code {
  background-color: transparent;
}

// Profile subsections

#profile > div:nth-child(5) > div > ul > div> div > a:link, #profile > div:nth-child(5) > div > ul > div> div > a {
  margin-right: -10px;
}

#profile > div:nth-child(5) > div > ul > div> div > a:link, #profile > div:nth-child(5) > div > ul > div> div > a:visited {
  color: darkgrey;
  background-color: transparent;
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: linear-gradient(#E6FFE3 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

#profile > div:nth-child(5) > div > ul > div> div > a:hover {
  color: black;
}

.profile-subsection:hover {
  --p: 100%;
}

// Interests
#profile > div:nth-child(4) > div {
  color: darkgrey;
}

// unvisited link

p a:link, ul a:link, li a:link, .article-container a:link, td a:link, a.dsq-brlink, div.grid-sizer > div > a {
  color: #00032F; 
}

p a:link, td a:link, div.grid-sizer > div > a, #top > div.pub > div > div > div.col-md-10 > div > div.col-12.col-md-9 > a, h3 > a {
  background-image: linear-gradient(180deg, #FFFFF3, #FEFFE5, #FEFFE5, #FEFFE5, #FEFFE5, #FEFFE5, #FEFFE5, #BAF1B7);
}

/* Remove link highlight from general links in home 
and from bio portrait information. */

.article-title > a, #profile > div.portrait-title > h3 > a {
  background-image: none; 
}

// unvisited link
h3 a:link {
  color: #4F6C89; 
}

// visited link
a:visited {
  color: black; 
  background-color: #F7F1FF;
}

// visited heading link
h3 a:visited, div a:visited, p a:visited, ul a:visited, li a:visited, .article-container a:visited, td a:visited, a.dsq-brlink:visited {
  color: purple; 
  background-color: transparent;
}

// mouse over link
p a:hover, ul a:hover, li a:hover, .article-container a:hover, td a:hover, a.dsq-brlink:hover, div.grid-sizer > div > a:hover, , #top > div.pub > div > div > div.col-md-10 > div > div.col-12.col-md-9 > a:hover, h3 > a:hover {
  background-image: none; // necessary to override `p a:link` property
  color: black;
  background-color: #EAFFE8;
  text-decoration: none;
}

// active link

h3 a:active, div a:active, p a:active, ul a:active, li a:active, .article-container a:active, td a:active, a.dsq-brlink:active {
  color: #24494F; 
}

h3 a:hover, div a:hover {
  color: #24494F; 
}

// unvisited category and tag cloud links
.article-categories a:link, .tag-cloud a:link {
  color: darkgrey; 
}

// visited category and tag cloud links
.article-categories a:visited, .tag-cloud a:visited {
  color: #9E84B0;
}

// hovered category and tag cloud links
.article-categories a:hover, .tag-cloud a:hover {
  color: #24494F;
}

#top > article > div.article-container.pt-3 > div.btn-links.mb-3 > a:link, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:link, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:link, .btn-links a:link, #top > div.pub > div > a > button:link, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button:link, div.grid-sizer > div > p > button, div.grid-sizer > div > p > a:link, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button, #publication > div > div > div.col-12.col-lg-8 > div > div.media-body > div.btn-links > button {
  background-image: none;
  color: black; 
  background-color: #F8F8F8;
  border-color: lightgrey;
}

#top > article > div.article-container.pt-3 > div.btn-links.mb-3 > a:visited, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:visited, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:visited, .btn-links a:visited, #top > div.pub > div > a > button:visited, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > button:visited, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button:visited, div.grid-sizer > div > p > button:visited, div.grid-sizer > div > p > a:visited, , #publication > div > div > div.col-12.col-lg-8 > div > div.media-body > div.btn-links > button:visited {
  background-image: none;
  color: purple; 
  font-weight: bold;
  background-color: #F7F7F7;
  border-color: purple;
}

#top > article > div.article-container.pt-3 > div.btn-links.mb-3 > a:hover, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > a:hover, #publication > div > div > div.col-12.col-lg-8 > * > div.media-body > div.btn-links > a:hover, .btn-links a:hover, div.grid-sizer > div > p > button:hover, div.grid-sizer > div > p > a:hover, div.media-body > h3 > a:hover, #publication > div > div > div.col-12.col-lg-8 > div > div.media-body > div.btn-links > button:hover, #top > div.pub > div.article-container.pt-3 > div.btn-links.mb-3 > button:hover {
  background-image: none;
  color: black; 
  font-weight: bold;
  background-color: #E6FFE3;
  border-color: lightgrey;
}

// unvisited tag and category links
#top > div.pub > div > div.article-tags > a:link, #top > article > div > div.article-tags > a:link, .article-tags a:link {
  color: black;
  background-color: #F3F3F3;
}

// visited tag and category links
#top > div.pub > div > div.article-tags > a:visited, #top > article > div > div.article-tags > a:visited, .article-tags a:visited {
  color: black;
  background-color: #F7F1FF;
}

// hovered tag and category links
#top > div.pub > div > div.article-tags > a:hover, #top > article > div > div.article-tags > a:hover, .article-tags a:hover {
  color: black;
  background-color: #E6FFE3;
}


// On scroll, highlight section headings, article titles and bio info (name, title, email, socials) [code involves both CSS in custom.scss and JS in academic.js].

div.col-12.col-lg-4.section-heading h1, div.article-container.pt-3 > h1, .portrait-title h3, .social-icon {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}


div.col-12.col-lg-4.section-heading h1.visible {
  opacity: 1;
  transform: translateY(0);
  animation: color-transition1 0.5s forwards;
}

@keyframes color-transition1 {
  0% {
    color: aquamarine;
  }
  50% {
    color: #088F8F;
  }
  100% {
    color: darkgrey;
  }
}


.portrait-title h3.visible, .social-icon.visible {
  opacity: 1;
  transform: translateY(0);
  animation: color-transition2 0.5s forwards;
}

@keyframes color-transition2 {
  0% {
    color: aquamarine;
  }
  50% {
    color: #088F8F;
  }
  100% {
    color: #8AA3CD;
  }
}


div.article-container.pt-3 > h1.visible {
  opacity: 1;
  transform: translateY(0);
  animation: color-transition3 0.5s forwards;
}

@keyframes color-transition3 {
  0% {
    color: aquamarine;
  }
  50% {
    color: #088F8F;
  }
  100% {
    color: black;
  }
}


// Social icons on the left-hand side of the bio section

#profile > div > div > span > span > a > i:hover {
  color: #379E8A !important;
}

// Icons on the body of the bio section
#bio > div > div > div.col-12.col-lg-8 > div > div > ul > li > i {
  color: lightgrey;
}

// Folder icon for categories
span.article-categories > i {
  color: lightgrey;
}

// Icons

i {
  background-color: transparent;
}

div.col-12.col-lg-4.section-heading > h1 > span > a > i {
  color: lightgrey;
}

a > i:hover {
  color: #379E8A !important;
}

// Full text buttons
#top > div.pub > div > a > button:hover, #top > div.pub > div > div.article-style > a > button:hover {
  background-color: #E6FFE3 !important;
}

// Open dashboard/application button
#top > article > div > div.article-style > a > button:hover {
  background-color: #E6FFE3 !important;
}

// Keyboard buttons
kbd {
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  border-style: solid;
  border-width: 1px 3px 4px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: monospace, sans-serif;
  font-size: 95%;
  line-height: 1.2;
  margin: 0 0.1em;
  padding: 0.09em 0.4em 0.11em 0.4em;
  text-shadow: 0 1px 0 #fff;
}


// Bootstraop warning alert messages

div.alert.alert-warning {
  color: #4A4D10;
  background-color: #F6F7E4;
  border-color: #6B6F0F;
}

// links in the footer of code chunks from emgithub

div.emgithub-file.emgithub-file-dark > div.file-data.hljs-style-a11y-dark > div > pre > code > table > tbody > tr > td.hljs-ln-line.hljs-ln-code, div.emgithub-file.emgithub-file-dark > div.file-data.hljs-style-a11y-dark > div > pre > code > table > tbody > tr > td.hljs-ln-line.hljs-ln-numbers, div.emgithub-file.emgithub-file-dark > div.file-meta.file-meta-dark, div.emgithub-file.emgithub-file-dark > div.file-meta.file-meta-dark > a {
  background: none;
}

// add margin under emgithub code chunks

.emgithub-container {
  margin-bottom: 6%;
}

// remove love icon from emgithub chunk footnote

div.emgithub-file.emgithub-file-dark > div.file-meta.file-meta-dark > span {
  display: none;
}


// Hanging indentation for references

#references, .hanging-indent {
  text-indent: -2em; 
  margin-left: 2em;
}


// related references 

.related-references {
  color: #787878;
  border-style: solid; 
  border-width: 0.2px;
  border-left-color: #D5EEE9;
  border-top: none;
  border-right: none;
  border-bottom: none;
  overflow: auto; 
  font-size: 90%; 
  height: 700px; 
  overflow-wrap: normal; 
  margin-top: 0.9em; 
  margin-left: -0.7em; 
  margin-bottom: 3em;
  padding-right: 0.4em; 
  padding-left: 0.7em;
}


// in desktop view only
@media (min-width: 1000px)  {
  
  // make sidebar headings sticky
  .section-heading, #bio > div > div > div.col-12.col-lg-4 {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    position: sticky; 
    top: 120px;
    margin-bottom: 20px;
  }
  
  div.col-12.col-lg-4.section-heading > h1 {
    border-bottom: 0.4px solid;
    border-image-source: linear-gradient(to right, #BADDD5, #BADDD5, #EAF7F3, #F2FBF8);
    border-image-slice: 1;
  }
  
  // remove Experience from profile subsections
  #profile > div:nth-child(5) > div > ul > div:nth-child(1) {
    display: none;
  }
}

// Remove 's' tag from tag cloud

a[href$="/tags/s/"] {
  display: none;
}
