{{ $page := . }}
{{- /* Software pages get their own badge in place of a publication-type badge. The IsPage guard keeps the badge off the /software/ section header, whose Type is also "software". */ -}}
{{ if and (eq $page.Type "software") $page.IsPage }}
<span class="software-badges">
{{ partial "software-type-badge.html" $page }}
{{ partial "open-science-badges.html" $page }}
</span>
{{ else if eq $page.Type "publication" }}
<span class="publication-badges">
{{ $pub_types := slice "pub_uncat" "pub_conf" "pub_journal" "pub_preprint" "pub_report" "pub_book" "pub_book_section" "pub_thesis" "pub_patent" "pub_software" }}
{{ $pub_icons := slice "fa-file" "fa-users" "fa-file-text" "fa-briefcase" "fa-briefcase" "fa-book" "fa-book" "fa-graduation-cap" "fa-lightbulb-o" "fa-code" }}
{{ $pub_classes := slice "pub-type-uncat" "pub-type-conf" "pub-type-journal" "pub-type-preprint" "pub-type-report" "pub-type-book" "pub-type-book-section" "pub-type-thesis" "pub-type-patent" "pub-type-software" }}
{{ range $index, $type := $page.Params.publication_types }}
{{ $pub_type := index $pub_types (int $type) }}
{{ $pub_icon := index $pub_icons (int $type) }}
{{ $pub_class := index $pub_classes (int $type) }}
<span class="pub-type-badge {{ $pub_class }}"><i class="fa {{ $pub_icon }}"></i> {{ i18n $pub_type }}</span>
{{ end }}
{{ partial "open-science-badges.html" $page }}
</span>
{{ end }}
