{{- define "main" -}}

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    {{ if .Params.url_fulltext }}
    <a class="full-text-btn" href="{{ .Params.url_fulltext }}">
        <i class="fa fa-file" style='color:grey;' aria-hidden="true"></i> &nbsp;&nbsp;
        <span>View <b>full text</b></span>
    </a>
    {{ end }}

    <div class="article-style">{{ .Content }}{{ with .Resources.GetMatch "related-references.html" }}{{ .Content | safeHTML }}{{ end }}</div>

    {{ partial "page_footer" . }}

  </div>
</div>
{{- end -}}
